<div class="container">
    <div class="row">
      <div class="col-md-5">
        <app-product *ngIf="sw"></app-product>
      </div>
      <div class="col-md-7 text-center">

          
        </div>
    </div>
</div>

