.fondo-menu {
  background-color: #000000b8;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
}

.menu-lateral {
  background-color: #fff;
  height: 100%;
  position: fixed;
  width: 250px;
}



.menu-lateral ul li {
  list-style-type: none;
  margin-top: 30px;
  padding: 5px;
  color: #909090;
  overflow: hidden;
  cursor: pointer;
  
}
.menu-lateral ul li:hover{
    color: #fff;
}
.menu-lateral ul li:hover i {
    color: #fff;
}

.menu-lateral ul li p {
  position: relative;
  padding-left: 20px;
}

.menu-lateral ul li i {
  margin-right: 20px;
  position: relative;
  top: 5px;
  color: #21b7ff;
}


.barra {
  position: absolute;
  height: 38.18px;
  background: #1e293d;
  -webkit-transition: width .2s;
  transition: width .2s;
  width: 5px;
}

li:hover .barra {
  width: 225px;
}
