<div class="fondo-menu">
  <nav class="menu-lateral">
    <ul>
      <li><div class="barra"></div><p><i class="material-icons">home</i>Inicio</p></li>
      <li><div class="barra"></div><p><i class="material-icons">note_add</i>Tareas</p></li>
      <li><div class="barra"></div><p><i class="material-icons">exit_to_app</i>Salir</p></li>
    </ul>
  </nav>
</div>
