.contenedor-formulario {
  background: #fff;
  border-radius: 0 30px 0 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #cfcfd0;
}

.boton-eliminar,
.boton-agregar {
  padding: 10px;
  font-size: 15px;
  width: 150px;
  margin-left: 10px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background: #21b7ff;
  color: #fff;
  margin-bottom: 10px;
}

.boton-eliminar:hover,
.boton-agregar:hover {
  background: #1e293d;
}

.boton-eliminar i,
.boton-agregar i {
  position: relative;
  top: 6px;
  margin-bottom: 10px
}

.campo-formulario {
  outline: 0px;
  padding: 5px;
  width: 100%;
  color: #909090;
  font-size: 15px;
  border: 2px solid #dddddd;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 10px;
  background: #fff;

}

.contenedor-botones {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.titulo-formulario {
  border-radius: 0 30px 0 0;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  background: #21b7ff;
  color: #fff;
  padding: 15px;
}

.contenedor-formulario-hijo {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.contenedor-formulario-hijo label {
  color: #909090;
  font-size: 15px;
  
  font-weight: bold;
 
}
