
  
      <form class="contenedor-formulario" #productForm="ngForm" (ngSubmit)="onSubmit(productForm)" >
        <h2 class="titulo-formulario">Registra tus tareas</h2>
       
          <div class="contenedor-formulario-hijo">
          <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">
            <label for="nombre">Tarea:</label>
            
               
                <input
                maxlength="30"
                required  
              type="text"
              id="nombre"
              class="campo-formulario"
              name="nombre"
              #name="ngModel"
              [(ngModel)]="productService.selectedProduct.nombre"
              placeholder="Ingresesa una tarea"
              >
            
             
              <label for="fechainicio">Fecha de inicio:</label>
              <input 
                required
                type="date"
                id="fechainicio"
                class="campo-formulario"
                name="fechainicio"
                #category="ngModel"
                [(ngModel)]="productService.selectedProduct.fechainicio"
                placeholder="Ingresa una descripción"
                >
                <label for="fechafinal">Fecha de final:</label>
                <input 
                  required  
                  type="date"
                  id="fechafinal"
                  class="campo-formulario"
                  name="fechafinal"
                  #category="ngModel"
                  [(ngModel)]="productService.selectedProduct.fechafinal"
                  placeholder="Ingresa una descripción"
                  >
                  <label for="prioridad">Prioridad:</label>
                  <select class="campo-formulario" required name="prioridad" [(ngModel)]="productService.selectedProduct.prioridad" id="prioridad">
                    
                    <option value="Baja">Baja</option>
                    <option value="Media">Media</option>
                    <option value="Alta">Alta</option>
                    <option value="Urgente">Urgente</option>
                  </select>

                


              
              <label for="descripcion">Descripción:</label>
              <input 
              maxlength="20"
                type="text"
                id="descripcion"
                class="campo-formulario"
                name="descripcion"
                #category="ngModel"
                [(ngModel)]="productService.selectedProduct.descripcion"
                placeholder="Ingresa una descripción"
                >
          
  
         <div class="contenedor-botones">
            <button class="boton-agregar" type="submit">
              <i class="material-icons">note_add</i> Agregar Tarea
            </button>
            <button class="boton-eliminar" type="reset" (click)="resetForm(productForm)">
              <i class="material-icons">
                delete
                </i> Limpiar
            </button>
          </div>
        </div>
        </form>

