.cabezote {
  background: #fff;
  -webkit-box-shadow: 0px 12px 28px -9px rgba(199, 199, 199, 1);
  -moz-box-shadow: 0px 12px 28px -9px rgba(199, 199, 199, 1);
  box-shadow: 0px 12px 28px -9px rgba(199, 199, 199, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 11px;
}

.cabezote:hover {
  -webkit-box-shadow: 0px 12px 30px -1px rgba(199, 199, 199, 1);
  -moz-box-shadow: 0px 12px 30px -1px rgba(199, 199, 199, 1);
  box-shadow: 0px 12px 30px -1px rgba(199, 199, 199, 1);
}

.cabezote img {
  width: 250px;
  height: 60px;
}

.icon-menu {
  color: #1e293d;
  font-size: 30px;
  cursor: pointer;
 
}
.icon-menu:hover{
  color: #21b7ff;
}




.contenedor-cuerpo {
    margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.formulario-cuerpo {
  width: 410px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.lista-cuerpo {
  width: 900px;
  margin-bottom: 20px;
}
@media (max-width: 950px){
  .lista-cuerpo {
    width: 100%;
  }
.contenedor-cuerpo{
padding: 5px
}
}
@media (max-width:620px){
  .formulario-cuerpo{
    width: 100%;
    margin-right: 0;
  }
  .cabezote img {
    width: 180px;
    height: 42px;
  }
}
@media (max-whidth:450){
  .cabezote{
  justify-content: center;
}
}

@media (max-whidth:336){
  @media (max-whidth:450){
    .cabezote{
    justify-content: center;
  }
  }
}
