<div class="cabezote">
    <i (click)="abrirMenu()"  class="material-icons icon-menu">menu</i>
  <img src="https://image.ibb.co/n02Ese/Logo_task2.png" alt="">

</div>

<app-menu-lateral *ngIf="sw" (lavariablequeyoquiera)="cerrarMenu()"></app-menu-lateral>

<div class="contenedor-cuerpo">
<app-products class="formulario-cuerpo"></app-products>
<app-product-list class="lista-cuerpo"></app-product-list>
</div>

