.contenedor-tareas {
  background-color: #fff;
  width: 100%;
  border: 1px solid #cfcfd0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 30px 0 0;
}

.contenedor-tareas {
  text-align: center;
}

.contenedor-tareas h2 {
  border-radius: 0 30px 0 0;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  background: #21b7ff;
  color: #fff;
  padding: 15px;
}

.tarea:hover {
  -webkit-box-shadow: 3px 2px 26px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 2px 26px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 2px 26px -2px rgba(0, 0, 0, 0.75);
}

.tarea h3 {
  color: #595e7b;
  font-size: 15px;
  margin-bottom: -15px;
  margin-top: 30px;
  display: inline-block;
}

.tarea a i {
  margin-right: 10px;
}

.fecha {
  background-color: #FF5B37;
  color: #fff;
  position: relative;
  width: 80%;
  border-radius: 10px 0 10px 0;
  left: -10px;
  padding: 5px;
}

.tabla-tareas {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.cabecera-tabla th {
  background-color: #1e293d;
  color: #fff;
  padding: 10px;
  font-weight: 500;
}

.cuerpo-tabla-tarea td {
  color: #909090;
  font-size: 15px;
  padding: 10px;
}

.cuerpo-tabla-tarea:nth-child(2n) {
  background-color: #f7f7f7;
}

.boton-editar,
.boton-finalizar {
  cursor: pointer;
  color: #1e293d;
 
}
.boton-finalizar{
  margin-left: 10px;
}
.boton-finalizar i{
 
  font-weight: bold;
}
#campo-buscar{
  outline: 0px;
    padding: 5px ;
    width: 90%;
    color: #909090;
    font-size: 15px;
    border: 2px solid #dddddd;
    border-radius: 2px;
    width: 95%;
    margin-bottom: 20px;
}


 @media (max-width: 750px) {

    th:nth-child(5), td:nth-child(5),th:nth-child(4), td:nth-child(4){
      display: none;
    }
} 
@media (max-width: 600px) {

  th:nth-child(3), td:nth-child(3),th:nth-child(2), td:nth-child(2){
    display: none;
  }
} 
