
<div class="contenedor-tareas">
  <h2 class="">
    Tareas Pendientes
  </h2>
  <div class="">
    <input type="text" id="campo-buscar" [(ngModel)]="variable" (ngModelChange)="buscarTareas()" placeholder="Buscar tarea" title="Type in a name">
    <table id="lista-tareas" class="tabla-tareas">
      <tr class="cabecera-tabla">
        <th>Tarea</th>
        <th>Fecha de inicio</th>
        <th>Fecha de finalización</th>
        <th>Prioridad</th>
        <th>Descripción</th>
        <th>Opciones</th>
      </tr>

      <tr class="cuerpo-tabla-tarea" *ngFor="let product of productList">
        <td>{{product.nombre}}</td>
        <td>{{product.fechainicio}}</td>
        <td>{{product.fechafinal}}</td>
        <td>{{product.prioridad}}</td>
        <td>{{product.descripcion}}</td>
        <td>
          <a  class="boton-editar" (click)="onEdit(product)">
            <i class="material-icons">
              edit
            </i>
          </a>
          <a class="boton-finalizar" (click)="onDelete(product.$key)">
            <i class="material-icons">
              check
              </i>
          </a>
        </td>

      </tr>

    </table>
  </div>
  
</div>


