.cabezote {
  background: #fff;
  -webkit-box-shadow: 0px 12px 28px -9px rgba(199, 199, 199, 1);
  -moz-box-shadow: 0px 12px 28px -9px rgba(199, 199, 199, 1);
  box-shadow: 0px 12px 28px -9px rgba(199, 199, 199, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 11px;
}

.cabezote:hover {
  -webkit-box-shadow: 0px 12px 30px -1px rgba(199, 199, 199, 1);
  -moz-box-shadow: 0px 12px 30px -1px rgba(199, 199, 199, 1);
  box-shadow: 0px 12px 30px -1px rgba(199, 199, 199, 1);
}

.cabezote img {
  width: 250px;
  height: 60px;
}

.icon-menu {
  color: #1e293d;
  font-size: 30px;
}


